<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--meta description-->
     <meta name="description" content="Somos profesionales del Diseño de Interiores. Te ayudamos a transformar espacios adecuándolo a tus necesidades.Visitanos en las redes para ver nuestros trabajos, contactáte con nuestro equipo para informarte sobre todos los servicios que ofrecemos.">
     <!--meta keyword-->
     <meta name="keyword" content="disenio de interiores, interiorismo, arquitectura de interiores, arquitectura interior en arg, reformas, disenio de oficinas, disenio de casas, disenio de espacios comerciales, disenio de terrazas, disenio de espacios exteriores, decoracion, ultimas tendecias en disenio y decoracion">
     <!--Open graph-->
     <meta property="og:title" content="PG Diseño de Interiores"/>
     <meta property="og:description" content="Somos profesionales del Diseño de Interiores. Te ayudamos a transformar espacios adecuándolo a tus necesidades. Visitanos para conocer nuetros trabajos y más"/>
     <!--favicon-->
     <link rel="shortcut icon" href="../assets/img/alogoico2.ico" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../style.css">

    <title>Equipo | PG Diseño de Interiores</title>
</head>

<body class="home">
  <header class="header">
    <div class="logo">   
      <img src="../assets/img/alogo.png" alt="logo pg">        
      <h1><span>PG Diseño de Interiores</span></h1>
      <span class="logo"></span>
    </div>
  
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav w-100 justify-content-end">
            <a class="nav-link" href="../index.html">HOME</a>
            <a class="nav-link active" aria-current="page" href="#">EQUIPO</a>
            <a class="nav-link" href="../views/galeria.html">GALERIA</a>
            <a class="nav-link" href="../views/servicios.html">SERVICIOS</a>
            <a class="nav-link" href="../views/contacto.html">CONTACTO</a> 
          </div>
        </div>
      </div>
    </nav>
  </header>

  <h2>equipo</h2>

  <div class="equipo">
    <h2 class="text-center">Conoce Más A Nuestros Profesionales</h2>
    <p>Brebe texto con la historia del estudio, en que año comenzaron, etc.</p>
  </div>

  <div class="container my-3 py-5 text-center"> 
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card p-4">
            <img src="../assets/img/perfil.jpg" class="card-img-center rounded-circle w-100 mb-3" alt="...">
            <div class="card-body">
              <div class="nombre">
                <h5 class="text-dark">Nombre Apellido</h5>
              </div>
              <div class="info">
                <h6 class="text-lighter">Título/Cargo</h6>
              </div>
              <div class="redes my-2">
                <a href="https://www.facebook.com/" class="text-dark"><img src="../assets/img/footface.png" aria-hidden="true"></a>
                <a href="https://www.instagram.com/" class="text-dark"><img src="../assets/img/footinsta.png" aria-hidden="true"></a>
                <a href="https://www.whatsapp.com/" class="text-dark"><img src="../assets/img/footwapp.png" aria-hidden="true"></a>
              </div>
              <button type="button" class="btn btn-secondary bnt-lg btn-block">Ver Perfil</button>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card border rounded p-4">
            <img src="../assets/img/perfil.jpg" class="card-img-center rounded-circle w-100 mb-3" alt="...">
            <div class="card-body">
              <div class="nombre">
                <h5 class="text-lighter">Nombre Apellido</h5>
              </div>
              <div class="info">
                <h6 class="text-dark">Título/Cargo</h6>
              </div>
              <div class="redes my-2">
                <a href="https://www.facebook.com/" class="text-dark"><img src="../assets/img/footface.png" aria-hidden="true"></a>
                <a href="https://www.instagram.com/" class="text-dark"><img src="../assets/img/footinsta.png" aria-hidden="true"></a>
                <a href="https://www.whatsapp.com/" class="text-dark"><img src="../assets/img/footwapp.png" aria-hidden="true"></a>
              </div>
              <button type="button" class="btn btn-secondary bnt-lg btn-block">Ver Perfil</button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border rounded p-4">
            <img src="../assets/img/perfil.jpg" class="card-img-center rounded-circle w-100 mb-3" alt="...">
            <div class="card-body">
              <div class="nombre">
                <h5 class="text-dark">Nombre Apellido</h5>
              </div>
              <div class="info">
                <h6 class="text-dark">Título/Cargo</h6>
              </div>
              <div class="redes my-2">
                <a href="https://www.facebook.com/" class="text-dark"><img src="../assets/img/footface.png" aria-hidden="true"></a>
                <a href="https://www.instagram.com/" class="text-dark"><img src="../assets/img/footinsta.png" aria-hidden="true"></a>
                <a href="https://www.whatsapp.com/" class="text-dark"><img src="../assets/img/footwapp.png" aria-hidden="true"></a>
              </div>
              <button type="button" class="btn btn-secondary bnt-lg btn-block">Ver Perfil</button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border rounded p-4">
            <img src="../assets/img/perfil.jpg" class="card-img-center rounded-circle w-100 mb-3" alt="...">
            <div class="card-body">
              <div class="nombre">
                <h5 class="text-dark">Nombre Apellido</h5>
              </div>
              <div class="info">
                <h6 class="text-dark">Título/Cargo</h6>
              </div>
              <div class="redes my-2">
                <a href="https://www.facebook.com/" class="text-dark"><img src="../assets/img/footface.png" aria-hidden="true"></a>
                <a href="https://www.instagram.com/" class="text-dark"><img src="../assets/img/footinsta.png" aria-hidden="true"></a>
                <a href="https://www.whatsapp.com/" class="text-dark"><img src="../assets/img/footwapp.png" aria-hidden="true"></a>
              </div>
              <button type="button" class="btn btn-secondary bnt-lg btn-block">Ver Perfil</button>
            </div>
          </div>
        </div>
    </div>
  </div>
      
    
  <footer>
    <h4>REDES SOCIALES</h4>     
      <div class="icons">
        <a href="https://www.facebook.com/" target="blank"> 
          <img src="../assets/img/footface.png" alt="facebook"> 
        </a> 
        <a href="https://www.instagram.com/" target="blank">  
          <img src="../assets/img/footinsta.png" alt="instagram">
        </a>
        <a href="https://www.whatsapp.com/" target="blank"> 
          <img src="../assets/img/footwapp.png" alt="whatsapp">
        </a>
        <a href="https://www.youtube.com/" target="blank"> 
          <img src="../assets/img/footyt.png" alt="youtube">
        </a>
    </div>
  </footer>
   
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>